		<div class="footer">
		
			<div class="footer-content">
				
				<table>
					<tr>
						<th>Home</th>
						<th>About</th>
						<th>Help</th>
						<th>Connect</th>
					</tr>
					
					<tbody>
						<tr><td></td></tr>
						<tr>
							<td><%= link_to 'home', '#' %></td>
							<td><%= link_to 'about us', '#' %></td>
							<td><%= link_to 'help center', '#' %></td>
							<td><%= link_to 'facebook', '#' %></td>
						</tr>

						<tr>
							<td><%= link_to 'converge', '#' %></td>
							<td><%= link_to 'blog', '#' %></td>
							<td><%= link_to 'get started', '#' %></td>
							<td><%= link_to 'twitter', '#' %></td>
						</tr>
						
						<tr>
							<td><%= link_to 'pricing', '#' %></td>
							<td><%= link_to 'privacy policy', '#' %></td>
							<td><%= link_to 'contact us', '#' %></td>
							<td></td>
						</tr>

						<tr>
							<td><%= link_to 'buy', '#' %></td>
							<td><%= link_to 'terms of service', '#' %></td>
						</tr>

					</tbody>
				</table>

			</div>

			<center>2016 All rights reserved.</center>
		</div>

