<!DOCTYPE html>
<html>
<head>
  <title>ShoppingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>

	<div class="wrapper">
		<div class="navbar">
			<div class="navbar-content">
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'About', pages_about_path %></li>
					<li><%= link_to 'Products', pages_products_path %></li>
				
						<div class="navbar-sign">
							
							<%	if user_signed_in? %>
								<ul>
									<li><%= link_to 'Cart', '#' %></li>
									<li><%= link_to 'Log-out', destroy_user_session_path, method: :delete %></li>
															
							<% else %>		
								<ul>
									<li><%= link_to 'Cart', '#' %></li>
									<li><%= link_to 'Sign-Up', new_user_registration_path %></li>
									<li><%= link_to 'Log-in', new_user_session_path %></li>
								</ul>
							<% end %>

						</div>
				</ul>

			</div>	
		</div>

		<div class="content">

		<%= yield %>

		</div>

		<%= render 'layouts/footer' %>

	</div>
</body>

</html>
